* {
  box-sizing: border-box;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid $border-color;
  width: calc(25% - 20px);
  background-color: $sidebar-color;
}

div.gallery-item:hover {
  border: 1px solid darken($border-color, 10%);
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
  .markdown-body {
		padding: 15px;
	}
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
  .markdown-body {
		padding: 15px;
	}
}

$callouts: (
    warning: ($yellow-300, rgba($yellow-000, .2), 'WARNING'),
    danger: ($red-300, rgba($red-000, .2), 'DANGER')
    note: ($purple-300, rgba($purple-000, .2), 'NOTE'),
    important: ($blue-300, rgba($blue-000, .2), 'IMPORTANT'),
    new: ($green-300, rgba($green-000, .2), 'NEW')
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            display: block;
            font-weight: bold;
            font-size: .75em;
            padding-bottom: .125rem;
        }
    }
}