* {
  box-sizing: border-box;
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
    min-width: $nav-width;
  }
}


.card {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: $sidebar-color;
  box-shadow: 0 2px 4px darken($sidebar-color, 10%);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
  
.gallery-item {
  margin: 5px;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $sidebar-color;
  width: calc(25% - 20px);
}

.gallery-item:hover {
  border: 1px solid darken($border-color, 10%);
  box-shadow: 0 4px 8px darken($sidebar-color, 10%);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.gallery-item .description {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .gallery-item {
    width: calc(100% - 20px);
  }
}