* {
  box-sizing: border-box;
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
    min-width: $nav-width;
  }
}

.card {
  display: inline-block;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: $sidebar-color;
  box-shadow: 0 2px 4px darken($sidebar-color, 10%);
}

.card .description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.card img {
  margin: 10px;
  border-radius: 4px;
  float: right;
  width: 250px;
  height: auto;
}
