span {
  float: auto;
}

button {
  padding: 0 4px;
  text-align: center;
  float: auto;
}

p,
h1,
h2,
h3,
h4 {
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

.container {
  width: 60%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 3px);
  grid-template-rows: repeat(3, 3px);
  grid-gap: 3px; 
}

.gallery__img {
  width: 60%;
  object-fit: cover;
}
