* {
  box-sizing: border-box;
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
    min-width: $nav-width;
  }
}

.card {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: $sidebar-color;
}

.preview {
    border: 1px solid $border-color;
    max-width: 250px;
    max-height: fit-content;
    border-radius: 4px;
    box-shadow: 0 2px 4px darken($sidebar-color, 5%);
    img {
      display: block;
      max-height: fit-content;
      height: auto;
      width: 100%;
    }
}

.description {
  margin-top: 10px;
  font-size: 14px;
  text-align: left;
  text {
    justify-content: left;
  }
}
