* {
  box-sizing: border-box;
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
    min-width: $nav-width;
  }
}

.card {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: $sidebar-color;

  .preview {
    border: 1px solid $border-color;
    max-width: 250px;
    border-radius: 4px;
  }

  .description {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
  }

  img {
      display: block;
      max-height: fit-content;
    }
}