* {
  box-sizing: border-box;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid $border-color;
  border-radius: 2px;
  width: calc(35% - 20px);
  background-color: $sidebar-color;
}

div.gallery-item:hover {
  border: 1px solid darken($border-color, 10%);
  border-radius: 2px;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
  .markdown-body {
		padding: 15px;
	}
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
  .markdown-body {
		padding: 15px;
	}
}
