* {
  box-sizing: border-box;
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 20 + #{$nav-width});
    min-width: $nav-width;
  }
}

.card {
  background-color: $sidebar-color;
  border: $border $border-color;
  border-radius: 4px;
  box-shadow: 0 2px 4px darken($sidebar-color, 10%);
  margin: 15px;
  padding: 20px;
  transition: all 0.3s ease;

  &:hover {
    border: $border darken($border-color, 10%);
    box-shadow: 0 4px 8px darken($sidebar-color, 10%);
  }

  .description {
    padding: 15px;
    text-align: center;
    color: darken($text-color, 20%);
  }

  img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  }
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
  
.gallery-item {
  margin: 5px;
  border: 1px solid $border-color;
  border-radius: 4px;
  background-color: $sidebar-color;
  width: calc(35% - 20px);
  box-shadow: 0 2px 4px darken($sidebar-color, 10%);
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid darken($border-color, 10%);
    box-shadow: 0 4px 8px darken($sidebar-color, 10%);
  }

  .description {
  padding: 15px;
  text-align: center;
  }

  img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  }
}



@media only screen and (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .gallery-item {
    width: calc(100% - 20px);
  }
}