button {
  text-align: center;
}

p,
h1,
h2,
h3,
h4 {
  text-align: center;
}

// *,
// *::after,
// *::before {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit; 
// }

.gallery {
  column-count: 4;
  margin: 2rem auto;
}

.gallery img:hover {
  width: 500px;
  border: 1px solid #4c79c2;
  border-radius: 2px;
  object-fit: cover;
}

.border {
  border: 1px solid #4c79c2;
  border-radius: 2px;
  object-fit: cover;
}
