.code-block {
  background-color: black;
  border: 1px solid #dee2e6;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  color: #f8f9fa;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
}